
.pokedex_container {
    width: 90%;
    max-width: 900px;
    background: rgb(208, 85, 85);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title img {
    max-width: 250px;
    width: 100%;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    align-items: center;
    justify-content: center;
}