html {
  --bgcolor: #ffffff;
}

html[data-theme=dark] {
  --bgcolor: #323232;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bgcolor);
  /* background-color: #323232; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
